{{ 'styles-custom-table.css' | asset_url | stylesheet_tag }}

<script type="module">
  import { coldPlungesProducts } from '{{ 'cold-plunges-products.js' | asset_url }}';
  document.addEventListener('DOMContentLoaded', function() {
    //Set the dropdown options
    let productOptions=[];
    for (var key in coldPlungesProducts) {
      var val = coldPlungesProducts[key];
      const obj = {"val": key, "title": val.metafields.title};
      productOptions = [...productOptions, obj];
    }
    
    let columnId = 0;
    for (var key in coldPlungesProducts) {
      if (coldPlungesProducts.hasOwnProperty(key)) {
        var val = coldPlungesProducts[key];
 
        const assignColumn = document.getElementById('column-' + columnId );
        const object = val.metafields;

        var select = document.getElementById("ct-dropwdown-column-"+ columnId);
        console.log(select);
        //-------------- Assign data --------
        for(var i = 0; i < productOptions.length; i++) {
            var opt = productOptions[i];
            var el = document.createElement("option");
            el.textContent = productOptions[i].title;
            el.value = productOptions[i].val;
            el.selected = productOptions[i].val === key;
            if (select){
              select.appendChild(el);
            }
        }
  
        const subtitle = assignColumn.getElementsByClassName( 'ct-subtitle' )[0];
        subtitle.textContent = object.details;
  
        const thumbnail = assignColumn.getElementsByClassName( 'ct-thumbnail' )[0].getElementsByClassName('ct-thumbnail-img')[0];
        thumbnail.src = object.thumbnail;
  
        const variants = assignColumn.getElementsByClassName( 'ct-variants' )[0];
        variants.innerHTML = object.variants;
  
        const price = assignColumn.getElementsByClassName( 'ct-price' )[0];
        price.textContent = object.price;
  
        const buyButton = assignColumn.getElementsByClassName( 'ct-buy-button' )[0];
        buyButton.href = object.link;
  
        const dimension = assignColumn.getElementsByClassName( 'ct-dimension' )[0].getElementsByClassName('ct-dimension-img')[0];
        dimension.src = object.dimensions;
  
        const description = assignColumn.getElementsByClassName( 'ct-description' )[0];
        description.textContent = object.description;
  
        //--- Features ---/
  
        const coolsTo = assignColumn.getElementsByClassName( 'ct-feature-coolsTo' )[0];
        coolsTo.innerHTML = object.coolsTo;
  
        const heatsTo = assignColumn.getElementsByClassName( 'ct-feature-heatsTo' )[0];
        heatsTo.innerHTML = object.heatsTo;
  
        const coolingPower = assignColumn.getElementsByClassName( 'ct-feature-coolingPower' )[0];
        coolingPower.innerHTML = object.coolingPower;
  
        const electricalRequirements = assignColumn.getElementsByClassName( 'ct-feature-electricalRequirements' )[0];
        electricalRequirements.innerHTML = object.electricalRequirements;
        
        const plumbingRequirements = assignColumn.getElementsByClassName( 'ct-feature-plumbingRequirements' )[0];
        plumbingRequirements.innerHTML = object.plumbingRequirements;
        
        const setupTime = assignColumn.getElementsByClassName( 'ct-feature-setupTime' )[0];
        setupTime.innerHTML = object.setupTime;

        const warranty = assignColumn.getElementsByClassName( 'ct-feature-warranty' )[0];
        warranty.innerHTML = object.warranty;

        const insulatedTub = assignColumn.getElementsByClassName( 'ct-feature-insulatedTub' )[0];
        insulatedTub.innerHTML = object.insulatedTub;
  
        const outdoorUse = assignColumn.getElementsByClassName( 'ct-feature-outdoorUse' )[0];
        outdoorUse.innerHTML = object.outdoorUse;
  
        const filter = assignColumn.getElementsByClassName( 'ct-feature-filter' )[0];
        filter.innerHTML = object.filter;
  
        const sanitation = assignColumn.getElementsByClassName( 'ct-feature-sanitationKit' )[0];
        sanitation.innerHTML = object.sanitation;
  
        const ozone = assignColumn.getElementsByClassName( 'ct-feature-ozone' )[0];
        ozone.innerHTML = object.ozone;

        const weightEmpty = assignColumn.getElementsByClassName( 'ct-feature-weightEmpty' )[0];
        weightEmpty.innerHTML = object.weightEmpty;

        const weightFilled = assignColumn.getElementsByClassName( 'ct-feature-weightFilled' )[0];
        weightFilled.innerHTML = object.weightFilled;

        const capacity = assignColumn.getElementsByClassName( 'ct-feature-capacity' )[0];
        capacity.innerHTML = object.capacity;
        
        const connectivity = assignColumn.getElementsByClassName( 'ct-feature-connectivity' )[0];
        connectivity.innerHTML = object.connectivity;

        const insultatedTubCover = assignColumn.getElementsByClassName( 'ct-feature-insultatedTubCover' )[0];
        insultatedTubCover.innerHTML = object.insultatedTubCover;
  
        const light = assignColumn.getElementsByClassName( 'ct-feature-light' )[0];
        light.innerHTML = object.light;

        //---SHOP NOW-/
        const shopNow = assignColumn.getElementsByClassName( 'ct-shop-now' )[0];
        shopNow.href = object.link;
        
        columnId++;
      }
    }
    
  }, false);
  
  window.changeProduct = function changeProduct(component) {
    const url = component.value;
    const columnId = component.id.substring(component.id.length - 1);

    //-------------- Work with selected data --------
    const assignColumn = document.getElementById('column-' + columnId );
    const object = coldPlungesProducts[url].metafields;

    const subtitle = assignColumn.getElementsByClassName( 'ct-subtitle' )[0];
    subtitle.textContent = object.details;

    const thumbnail = assignColumn.getElementsByClassName( 'ct-thumbnail' )[0].getElementsByClassName('ct-thumbnail-img')[0];
    thumbnail.src = object.thumbnail;

    const variants = assignColumn.getElementsByClassName( 'ct-variants' )[0];
    variants.innerHTML = object.variants;

    const price = assignColumn.getElementsByClassName( 'ct-price' )[0];
    price.textContent = object.price;

    const buyButton = assignColumn.getElementsByClassName( 'ct-buy-button' )[0];
    buyButton.href = object.link;

    const dimension = assignColumn.getElementsByClassName( 'ct-dimension' )[0].getElementsByClassName('ct-dimension-img')[0];
    dimension.src = object.dimensions;

    const description = assignColumn.getElementsByClassName( 'ct-description' )[0];
    description.textContent = object.description;

    //--- Features ---/

    const coolsTo = assignColumn.getElementsByClassName( 'ct-feature-coolsTo' )[0];
    coolsTo.innerHTML = object.coolsTo;

    const heatsTo = assignColumn.getElementsByClassName( 'ct-feature-heatsTo' )[0];
    heatsTo.innerHTML = object.heatsTo;

    const coolingPower = assignColumn.getElementsByClassName( 'ct-feature-coolingPower' )[0];
    coolingPower.innerHTML = object.coolingPower;

    const electricalRequirements = assignColumn.getElementsByClassName( 'ct-feature-electricalRequirements' )[0];
    electricalRequirements.innerHTML = object.electricalRequirements;
    
    const plumbingRequirements = assignColumn.getElementsByClassName( 'ct-feature-plumbingRequirements' )[0];
    plumbingRequirements.innerHTML = object.plumbingRequirements;
    
    const setupTime = assignColumn.getElementsByClassName( 'ct-feature-setupTime' )[0];
    setupTime.innerHTML = object.setupTime;

    const warranty = assignColumn.getElementsByClassName( 'ct-feature-warranty' )[0];
    warranty.innerHTML = object.warranty;

    const insulatedTub = assignColumn.getElementsByClassName( 'ct-feature-insulatedTub' )[0];
    insulatedTub.innerHTML = object.insulatedTub;

    const outdoorUse = assignColumn.getElementsByClassName( 'ct-feature-outdoorUse' )[0];
    outdoorUse.innerHTML = object.outdoorUse;

    const filter = assignColumn.getElementsByClassName( 'ct-feature-filter' )[0];
    filter.innerHTML = object.filter;

    const sanitation = assignColumn.getElementsByClassName( 'ct-feature-sanitationKit' )[0];
    sanitation.innerHTML = object.sanitation;

    const ozone = assignColumn.getElementsByClassName( 'ct-feature-ozone' )[0];
    ozone.innerHTML = object.ozone;

    const weightEmpty = assignColumn.getElementsByClassName( 'ct-feature-weightEmpty' )[0];
    weightEmpty.innerHTML = object.weightEmpty;

    const weightFilled = assignColumn.getElementsByClassName( 'ct-feature-weightFilled' )[0];
    weightFilled.innerHTML = object.weightFilled;

    const capacity = assignColumn.getElementsByClassName( 'ct-feature-capacity' )[0];
    capacity.innerHTML = object.capacity;
    
    const connectivity = assignColumn.getElementsByClassName( 'ct-feature-connectivity' )[0];
    connectivity.innerHTML = object.connectivity;

    const insultatedTubCover = assignColumn.getElementsByClassName( 'ct-feature-insultatedTubCover' )[0];
    insultatedTubCover.innerHTML = object.insultatedTubCover;

    const light = assignColumn.getElementsByClassName( 'ct-feature-light' )[0];
    light.innerHTML = object.light;

    //---SHOP NOW-/
    const shopNow = assignColumn.getElementsByClassName( 'ct-shop-now' )[0];
    shopNow.href = object.link;
  }
  
</script>
<div class="custom-compare-table__container">
  <div class="custom-compare-table__header">
    <h2>{{ section.settings.heading }}</h2>
  </div>

  <div class="custom-compare-table__body">
    <div class="ct-table">
      {% for i in (1..4) %}
        {% assign column = forloop.index0 %}
        <div class="ct-product-column" id="column-{{ column }}">
          <div class="product-item">
            <div class="product__media-item">
              <!-- ------- Dropdown --------- -->
              <div class="ct-dropdown">
                <select
                  id="ct-dropwdown-column-{{ column }}"
                  name="ct-dropdown"
                  onchange="changeProduct(this)"
                  autocomplete="off"
                >
                  <option val="">Select a product</option>
                </select>
              </div>
              <!-- --------- End Dropdown --------- -->

              <!-- Subtitle -->
              <div class="ct-subtitle">
                {{ product.metafields.descriptors.subtitle }}
              </div>

              <!-- Transparent Image -->
              <div class="ct-thumbnail">
                  <img src="/" class="ct-thumbnail-img" width="280px" height="100%">
              </div>

              <!-- Variants -->
              <div class="ct-variants">
                <div class="ct-variants-colors">
                </div>
              </div>
              <!-- ------------------------- Separator ---------------------------- -->

              <div class="ct-separator"></div>

              <!-- Price -->
              <div class="ct-price-title">Starting at</div>

              <div class="ct-price"></div>

              <a target="_blank" href="{{ product.url }}" class="ct-buy-button">Buy</a>
              <!-- -------------------------------- Separator ----------------------------- -->
              <div class="ct-separator"></div>

              <!-- Dimension Image -->
              <div class="ct-dimension">
                  <img class="ct-dimension-img" src="/" width="200px" height="100%">
              </div>

              <div class="ct-description"></div>

              <div class="ct-separator"></div>
              <!-- ----------------------------------- Separator ----------------------- -->

              <div id="ct-features">
                <!-- Cools To -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/cools-to-icon.svg"
                      width="45px"
                      height="45px"
                    >
                    <div class="ct-feature-title ct-feature-coolsTo">
                    </div>
                  </div>
                </div>

                <!-- Heats To -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/heats-to-icon.svg"
                      width="35px"
                      height="35px"
                    >
                    <div class="ct-feature-title ct-feature-heatsTo">
                    </div>
                  </div>
                </div>

                <!-- Cooling Power -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/cooling-power-icon.svg"
                      width="35px"
                      height="35px"
                    >
                    <div class="ct-feature-title">
                      <p style="margin-bottom:20px !important">Cooling Power</p>
                      <span class="ct-feature-coolingPower"></span>
                    </div>
                  </div>
                </div>

                <!-- Electrical Requirements -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/electrical_b477af3c-fc8d-40fa-b996-c49111dfc48b.png?v=1711566935"
                      width="40px"
                      height="40px"
                    >
                    <div class="ct-feature-title">
                      <p style="margin-bottom:20px !important">Electrical Requirements</p>
                      <span class="ct-feature-electricalRequirements"></span>
                    </div>
                  </div>
                </div>

                <!-- Plumbing Requirements -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/plumbing_ad5119fd-735f-42e3-9afe-2120dcc456ce.png?v=1711566935"
                      width="45px"
                      height="45px"
                    >
                    <div class="ct-feature-title">
                      <p style="margin-bottom:20px !important">Plumbing Requirements</p>
                      <span class="ct-feature-plumbingRequirements"></span>
                    </div>
                  </div>
                </div>

                <!-- Setup Time -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/setup-time-icon.svg"
                      width="45px"
                      height="45px"
                    >
                    <div class="ct-feature-title ct-feature-setupTime">
                    </div>
                  </div>
                </div>

                <!-- Warranty -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/warranty-icon.svg"
                      width="40px"
                      height="40px"
                    >
                    <div class="ct-feature-title ct-feature-warranty">
                    </div>
                  </div>
                </div>

                <!-- Insulated Tub -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/insulated.png?v=1711566935"
                      width="45px"
                      height="45px"
                    >
                    <div class="ct-feature-title">
                      <p style="margin-bottom:20px !important">Insulated Tub</p>
                      <span class="ct-feature-insulatedTub"></span>
                    </div>
                  </div>
                </div>

                <!-- Indoor Outdoor -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/outdoor-icon.svg"
                      width="45px"
                      height="45px"
                    >
                    <div class="ct-feature-title ct-feature-outdoorUse">
                    </div>
                  </div>
                </div>

                <!-- Filter -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/filter-icon.svg"
                      width="55px"
                      height="55px"
                    >
                    <div class="ct-feature-title ct-feature-filter">
                    </div>
                  </div>
                </div>
                
                <!-- Sanitation -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/sanitation-icon.svg"
                      width="25px"
                      height="25px"
                    >
                    <div class="ct-feature-title ct-feature-sanitationKit">
                    </div>
                  </div>
                </div>

                <!-- Ozone -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/ozone_5221747f-ffd3-4728-ba1b-ef12ad37fa62.png?v=1711566935"
                      width="45px"
                      height="45px"
                    >
                    <div class="ct-feature-title ct-feature-ozone">
                    </div>
                  </div>
                </div>

                <!-- Weight Empty -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/weightEmpty.png?v=1711566935"
                      width="40px"
                      height="40px"
                    >
                    <div class="ct-feature-title">
                      <p style="margin-bottom:20px !important">Weight Empty (Lbs)</p>
                      <span class="ct-feature-weightEmpty"></span>
                    </div>
                  </div>
                </div>

                <!-- Weight Filled -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/weightFull.png?v=1711566935"
                      width="40px"
                      height="40px"
                    >
                    <div class="ct-feature-title">
                      <p style="margin-bottom:20px !important">Weight Filled (Lbs)</p>
                      <span class="ct-feature-weightFilled"></span>
                    </div>
                  </div>
                </div>

                 <!-- Capacity (Gallons) -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/capacity.png?v=1711566935"
                      width="40px"
                      height="40px"
                    >
                    <div class="ct-feature-title">
                      <p style="margin-bottom:20px !important">Capacity (Gallons)</p>
                      <span class="ct-feature-capacity"></span>
                    </div>
                  </div>
                </div>

                
                <!-- Connectivity -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/connectivity-icon.svg"
                      width="30px"
                      height="30px"
                    >
                    <div class="ct-feature-title ct-feature-connectivity">
                    </div>
                  </div>
                </div>
                
                <!-- Insulated Tub Cover -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/tubCover.png?v=1711566935"
                      width="40px"
                      height="40px"
                    >
                    <div class="ct-feature-title ct-feature-insultatedTubCover">
                    </div>
                  </div>
                </div>

                <!-- Underwater Light -->
                <div class="ct-feature">
                  <div class="cf-feature-icon">
                    <img
                      src="https://cdn.shopify.com/s/files/1/0566/7173/1844/files/light.png?v=1711566935"
                      width="40px"
                      height="40px"
                    >
                    <div class="ct-feature-title ct-feature-light">
                    </div>
                  </div>
                </div>
                
              </div>
              <!-- Fin -->
            </div>
            <a href="#" class="ct-shop-now">SHOP NOW</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script></script>

{% schema %}
{
  "name": "Comparativa Product Page",
  "class": "comparativa_product_page",
  "tag": "section",
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Comparativa Product Page",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
